
<h1>Welcome to Bride2Be</h1>
<h2>A Clean Organised Approach to Bride Management.We offer a one stop solution to all your problems.</h2>
<h3>A Single portal for all your needs :</h3>
<p><li>Theme</li>
   <li>Dresses</li>
   <li>Makeup</li>
   <li>Venues</li>
   <li>Decoration</li>
Be that bride with the best wedding with the least effort!</p>

